from_environment: &from_environment
  parse_application_id: <%= ENV["PARSE_APP_ID"] %>
  parse_master_key: <%= ENV["PARSE_MASTER_KEY"] %>
  redis_url: <%= ENV["REDIS_URL"] %>

production:
  <<: *from_environment
  cache_store: redis_store

development:
  parse_application_id: YOUR_PARSE_APPLICATION_ID
  parse_master_key: YOUR_PARSE_MASTER_KEY
  redis_url: 'redis://127.0.0.1:6379'
  cache_store: redis_store

test:
  parse_application_id: <%= ENV["PARSE_APP_ID"] || 'YOUR_PARSE_APPLICATION_ID' %>
  parse_master_key: <%= ENV["PARSE_MASTER_KEY"] || 'YOUR_PARSE_MASTER_KEY' %>
  redis_url: 'redis://127.0.0.1:6379'
  cache_store: memory_store
